<h2>Requests I've made</h2>
<ul>
  <% @guest_requests.each do |request| %>
    <li><%= request.property_name %><br>
        <%= request.start_date %> to <%= request.end_date %><br>
        <%= request.booking_status %>
    </li>
  <% end %>
</ul>
<h2>Requests I've received</h2>
<ul>
  <% @properties.each do |property| %>
    <h3><%= property.name %>, <%= property.location %></h3>
      <% property.bookings.each do |booking| %>
        <li>
          <a href="/requests/<%= booking.id %>">
            <%= booking.start_date %> to <%= booking.end_date %><br>
            <%= booking.booking_status %>
          </a>
        </li>
      <% end %>
  <% end %>
</ul>