<head>
  <meta charset="utf-8">
  <title>makersbnb</title>
  <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<header>
  <div class="main-nav">
    <% if @user %>
      <li><%= "#{@user.name}: #{@user.email} "%></li>
      <li>
          <form action="/requests">
            <input type="submit" value="Requests">
          </form>
      </li>
      <li>
        <form action="/sessions/destroy" method="post">
          <input type="submit" value="Log Out">
        </form>
      </li>
        <li>
        <form action="/property/new">
          <input type="submit" value="Create a listing" />
        </form>
        </li>
        <li>
          <form action="/property/portfolio">
            <input type="submit" value="View portfolio" />
          </form>
          </li>
    <% else %>
      <ul >
        <li>
          <form action="/sessions/login">
            <input type="submit" value="Log In">
          </form>
        </li>
        <li>
          <form action="/users/sign_up">
            <input type="submit" value="Sign Up">
          </form>
        </li>
      </ul>
    <% end %>
  </div>
  
<%# more header items %>
</header>

<div class="property-container">
<%@properties.each do |property| %>
<div class="property">
  <li id= "property-<%= property.id %>" style="list-style-type:none">
    <%= property.name %><br>
    Location: <%= property.location %><br>
    Description: <%= property.description %><br>
    Price per night: <%= property.price %><br>
    <form action="/property/<%= property.id %>/request-to-book">
      <input type="submit" value="Book">
    </form>
  </li><br>
</div>
<% end %>
</div>
