<head>
  <meta charset="utf-8">
  <title>makersbnb</title>
  <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<header>
  <div class="main-nav">
    <% if @user %>
      <li><%= "#{@user.name}: #{@user.email} "%></li>
      <li>
          <form action="/requests">
            <input type="submit" value="Requests">
          </form>
      </li>
      <li>
        <form action="/sessions/destroy" method="post">
          <input type="submit" value="Log Out" />
        </form>
      </li>
    <% else %>
      <ul >
        <li>
          <form action="/sessions/login">
            <input type="submit" value="Log In">
          </form>
        </li>
        <li>
          <form action="/users/sign_up">
            <input type="submit" value="Sign Up">
          </form>
        </li>
      </ul>
    <% end %>
  </div>
  <form action="/property/new">
    <button type="submit">Create a listing</button>
  </form>
<%# more header items %>
</header>
  
<body class="body">
<%@properties.each do |property| %>
  <li class="property" id= "property-<%= property.id %>">
    <%= property.name %><br>
    Location: <%= property.location %><br>
    Description: <%= property.description %><br>
    Price per night: <%= property.price %><br>
    <form action="/property/<%= property.id %>/request-to-book">
      <input type="submit" value="Book">
    </form>
  </li><br>
<% end %>
</body>