<head>
  <meta charset="utf-8">
  <title>makersbnb</title>
  <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<header>
  <div class="main-nav">
    <% if @user %>
      <li><%= "#{@user.name}: #{@user.email} "%></li>
      <li>
        <form action="/sessions/destroy" method="post">
          <input type="submit" value="Log Out" />
        </form>
      </li>
    <% else %>
      <ul >
        <li>
          <form action="/sessions/login">
            <input type="submit" value="Log In">
          </form>
        </li>
        <li>
          <form action="/users/sign_up">
            <input type="submit" value="Sign Up">
          </form>
        </li>
      </ul>
    <% end %>
  </div>
  <form action="/property/new">
    <button type="submit">Create a listing</button>
  </form>
<%# more header items %>
</header>
<body>  
  <form action="/">
    <label for="start_date">Start Date</label>
    <input type="date" name="start_date">
    <label for="end_date">End Date</label>
    <input type="date" name="end_date">
    <input type="submit" value="Show Available">
  </form>
</body>  
<%@properties.each do |property| %>
  <li class="property" id= "property-<%= property.id %>">
    <%= property.name %><br>
    Location: <%= property.location %><br>
    Description: <%= property.description %><br>
    Price per night: <%= property.price %><br>
    <form action="/property/<%= property.id %>/request-to-book">
      <input type="submit" value="Book">
    </form>
  </li><br>
<% end %>