<% if @user %>
  <h1><%= "#{@user.name}: #{@user.email} "%></h1>
<% else %>
  <form action="/sessions/login">
    <input type="submit" value="Log In">
  </form>
  <form action="/users/sign_up">
    <input type="submit" value="Sign Up">
  </form>
<% end %>

<%# some body %>

<% if @user %>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Log Out" />
  </form>
<% end %>

<form action="/newlisting">
  <button type="submit">Create a listing</button>
</form>

<%@properties.each do |property| %>
  <li style="list-style-type:none;"">
    <%= property.name %><br>
    Location: <%= property.location %><br>
    Description: <%= property.description %><br>
    Price per night: <%= property.price %><br>
  </li><br>

<% end %>